# <center>Multiple Linear Regression on 50 Startups Dataset</center>

## Importing the libraries

In [74]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [75]:
dataset = pd.read_csv('/content/50_Startups.csv')

In [76]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

## Encoding categorical data

In [77]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset['State']=le.fit_transform(dataset['State'])
dataset.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

## Splitting Dependent and Independent Features

In [78]:
X=dataset.drop('Profit',axis=1) #input
Y=dataset['Profit'] #output

In [79]:
X.head()

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      2
1  162597.70       151377.59        443898.53      0
2  153441.51       101145.55        407934.54      1
3  144372.41       118671.85        383199.62      2
4  142107.34        91391.77        366168.42      1

In [80]:
Y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

## Splitting the dataset into the Training set and Test set

In [81]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

## Feature Scaling using StandardScaler

In [82]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
X_train=ss.fit_transform(X_train) #on training data
X_test=ss.transform(X_test) #on testing data

## Training the Multiple Linear Regression model on the Training set

In [83]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

## Predicting the Test set results

In [84]:
Y_pred = regressor.predict(X_test)
Y_pred

array([103959.41, 132398.73, 133529.04,  72958.28, 179534.79, 115533.63,
        67476.96,  98504.36, 114789.16, 168972.22])

## Evaluating the performance of Model

In [85]:
from sklearn.metrics import mean_squared_error, r2_score
mse=mean_squared_error(Y_test,Y_pred)
print("Mean Squared Error : ",round(mse,2))
rmse=np.sqrt(mse)
print("Root Mean Squared Error : ",round(rmse,2))
r2=r2_score(Y_test,Y_pred)
print("R2 score : ",r2)

Mean Squared Error :  78413822.17
Root Mean Squared Error :  8855.16
R2 score :  0.9386861070938133

## **Conclusion**<br>- Here R2 Score is best as it is nearest to +1